/*
Variables
*/

$black: #010000;
$charcoal: #2C3840;
$white: #ffffff;
$lightgrey: #e6e6e6;
$darkgrey: #333;
$red: #ff1755;
$limegreen: #32CD32;

/*
Mixins
*/

@mixin translateY($e) {
  -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
      transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
    -moz-transition: $e;
      transition: $e;
}

/*
Fonts and stuff
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $limegreen;
    @include transition(.4s ease-in-out);
  }
}


.container-fluid {
  line-height: 24px;
  margin: 0;
  padding: 0;
}
