@import "_config.scss";

input:focus {outline:0;}
input {
  border: 3px solid $black;
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  ::placeholder {
    font-size: 8px;
  }
}
