@import "_config.scss";

.container-fluid {
  background: $charcoal;
  color: $white;

  h1 {
    text-align: center;
  }

  .form {
    ul {
      list-style-type: none;

      li {
        margin: 10px;
        padding: 5px;
      }
    }
  }

  p {
    text-align: center;
  }
}
